.button {
    width: 235px;
    height: 62px;
    border-radius: 14px;
    background-color: #12724F;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
    border: 1px solid #12724F;
}

.button:hover {
    background-color: transparent;
    color: #12724F;
}